# Exploratory analysis of Car Sales

### Table of contents:
[Introduction](#intro)\
\
[1. Data overview](#overview)

[2. Duplicated values](#duplicated)
> [2.1. Obvious duplicates](#obvious)<br>
> [2.2. Implicit duplicates](#implicit)

[3. Missing values](#missing)
> [3.1. Column 'model_year'](#model_year)<br>
> [3.2. Column 'cylinders'](#cylinders)<br>
> [3.3. Column 'odometer'](#odometer)<br>
> [3.4. Column 'paint_color'](#paint_color)<br>
> [3.5. Column 'is_4wd'](#4wd)

[4. Outliers](#outliers)

## Introduction <a id='intro'></a>

The goal of this analysis is to clean the data and prepare it for building a web app.

## 1. Data overview <a id='overview'></a>

In [29]:
import pandas as pd

In [30]:
data=pd.read_csv('../vehicles_us.csv')

In [31]:
data.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

#### __Conclusions:__ 
- There are no issues with style in the column names.
- There are missing values. To get reliable results, it's necessary to preprocess the data.

## 2. Duplicated values <a id='duplicated'></a>

Creating a copy of the dataset to perform the data preprocessing.

In [33]:
data_clean = data.copy()

### 2.1. Obvious duplicates <a id='obvious'></a>

In [34]:
data_clean.duplicated().sum()

0

__Conclusion:__ there are no obvious duplicated rows in the dataset.

### 2.2. Implicit duplicates <a id='implicit'></a>

Checking implicit duplicates in the column 'model' by printing a list of unique model names, sorted in the alphabetical order.

In [35]:
data_clean['model'].sort_values().unique()

array(['acura tl', 'bmw x5', 'buick enclave', 'cadillac escalade',
       'chevrolet camaro', 'chevrolet camaro lt coupe 2d',
       'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze',
       'chevrolet equinox', 'chevrolet impala', 'chevrolet malibu',
       'chevrolet silverado', 'chevrolet silverado 1500',
       'chevrolet silverado 1500 crew', 'chevrolet silverado 2500hd',
       'chevrolet silverado 3500hd', 'chevrolet suburban',
       'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse',
       'chrysler 200', 'chrysler 300', 'chrysler town & country',
       'dodge charger', 'dodge dakota', 'dodge grand caravan',
       'ford econoline', 'ford edge', 'ford escape', 'ford expedition',
       'ford explorer', 'ford f-150', 'ford f-250', 'ford f-250 sd',
       'ford f-250 super duty', 'ford f-350 sd', 'ford f150',
       'ford f150 supercrew cab xlt', 'ford f250', 'ford f250 super duty',
       'ford f350', 'ford f350 super duty', 'ford focus', 'ford focus se',
       'ford fusion', 'ford fusion se', 'ford mustang',
       'ford mustang gt coupe 2d', 'ford ranger', 'ford taurus',
       'gmc acadia', 'gmc sierra', 'gmc sierra 1500', 'gmc sierra 2500hd',
       'gmc yukon', 'honda accord', 'honda civic', 'honda civic lx',
       'honda cr-v', 'honda odyssey', 'honda pilot', 'hyundai elantra',
       'hyundai santa fe', 'hyundai sonata', 'jeep cherokee',
       'jeep grand cherokee', 'jeep grand cherokee laredo',
       'jeep liberty', 'jeep wrangler', 'jeep wrangler unlimited',
       'kia sorento', 'kia soul', 'mercedes-benz benze sprinter 2500',
       'nissan altima', 'nissan frontier', 'nissan frontier crew cab sv',
       'nissan maxima', 'nissan murano', 'nissan rogue', 'nissan sentra',
       'nissan versa', 'ram 1500', 'ram 2500', 'ram 3500',
       'subaru forester', 'subaru impreza', 'subaru outback',
       'toyota 4runner', 'toyota camry', 'toyota camry le',
       'toyota corolla', 'toyota highlander', 'toyota prius',
       'toyota rav4', 'toyota sienna', 'toyota tacoma', 'toyota tundra',
       'volkswagen jetta', 'volkswagen passat'], dtype=object)

The following models have alternative names of the same model:
- ford f-150, ford f150
- ford f-250, ford f250
- ford f-250 sd, ford f-250 super duty, ford f250 super duty
- ford f-350 sd, ford f350 super duty

The correct way of writing the model name is "ford f-model_number" according to the official [Ford website](https://www.ford.com/trucks/f150/models/?intcmp=vhp-seconNav-modselect).

The method replace() is used to get rid of these implicit duplicates and correct the names in the column 'model'.

In [36]:
data_clean['model']=data_clean['model'].replace({'ford f150':'ford f-150','ford f250':'ford f-250','ford f350 super duty':'ford f-350 sd'})

In [37]:
data_clean['model']=data_clean['model'].replace(['ford f250 super duty', 'ford f-250 super duty'], 'ford f-250 sd')

Checking if there are no implicit duplicates anymore in the column 'model_clean'.

In [38]:
data_clean['model'].sort_values().unique()

array(['acura tl', 'bmw x5', 'buick enclave', 'cadillac escalade',
       'chevrolet camaro', 'chevrolet camaro lt coupe 2d',
       'chevrolet colorado', 'chevrolet corvette', 'chevrolet cruze',
       'chevrolet equinox', 'chevrolet impala', 'chevrolet malibu',
       'chevrolet silverado', 'chevrolet silverado 1500',
       'chevrolet silverado 1500 crew', 'chevrolet silverado 2500hd',
       'chevrolet silverado 3500hd', 'chevrolet suburban',
       'chevrolet tahoe', 'chevrolet trailblazer', 'chevrolet traverse',
       'chrysler 200', 'chrysler 300', 'chrysler town & country',
       'dodge charger', 'dodge dakota', 'dodge grand caravan',
       'ford econoline', 'ford edge', 'ford escape', 'ford expedition',
       'ford explorer', 'ford f-150', 'ford f-250', 'ford f-250 sd',
       'ford f-350 sd', 'ford f150 supercrew cab xlt', 'ford f350',
       'ford focus', 'ford focus se', 'ford fusion', 'ford fusion se',
       'ford mustang', 'ford mustang gt coupe 2d', 'ford ranger',
       'ford taurus', 'gmc acadia', 'gmc sierra', 'gmc sierra 1500',
       'gmc sierra 2500hd', 'gmc yukon', 'honda accord', 'honda civic',
       'honda civic lx', 'honda cr-v', 'honda odyssey', 'honda pilot',
       'hyundai elantra', 'hyundai santa fe', 'hyundai sonata',
       'jeep cherokee', 'jeep grand cherokee',
       'jeep grand cherokee laredo', 'jeep liberty', 'jeep wrangler',
       'jeep wrangler unlimited', 'kia sorento', 'kia soul',
       'mercedes-benz benze sprinter 2500', 'nissan altima',
       'nissan frontier', 'nissan frontier crew cab sv', 'nissan maxima',
       'nissan murano', 'nissan rogue', 'nissan sentra', 'nissan versa',
       'ram 1500', 'ram 2500', 'ram 3500', 'subaru forester',
       'subaru impreza', 'subaru outback', 'toyota 4runner',
       'toyota camry', 'toyota camry le', 'toyota corolla',
       'toyota highlander', 'toyota prius', 'toyota rav4',
       'toyota sienna', 'toyota tacoma', 'toyota tundra',
       'volkswagen jetta', 'volkswagen passat'], dtype=object)

#### __Conclusions:__ 
* There are no obvious duplicated rows in the dataset.
* The implicit duplicated data is cleaned and ready for further preprocessing.
* The absence of duplicates will make the results more precise.

## 3. Missing values <a id='missing'></a>

In [39]:
data_clean.isna().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

The following columns have missing values:
* model_year
* cylinders
* odometer
* paint_color
* is_4wd

### 3.1. Column 'model_year' <a id='model_year'></a>

The column ‘model_year’ has outliers. Mean value is affected by them and does not represent the typical value in this case. That is why median is the best estimator of the typical value for the missing data in this column.\
\
The ‘model_year’ values are grouped by ‘model’, and the median of each group is taken as an estimation for the missing values in it.

In [40]:
data_clean['model_year']=data_clean['model_year'].fillna(data_clean.groupby('model')['model_year'].transform('median'))
data_clean['model_year'].isna().sum()

0

### 3.2. Column 'cylinders' <a id='cylinders'></a>

Calculating median and mean values of the column 'cylinders' to decide how to replace its missing values.

The median value:

In [41]:
data_clean['cylinders'].sort_values()
data_clean['cylinders'].median()

6.0

The mean value:

In [42]:
data_clean['cylinders'].mean()

6.125235058899817

The median and mean values are similar. So any of these values can be used to replace the missing values.\
\
The missing values in the column ‘cylinders’ are estimated by the median, grouped by ‘model’.

In [43]:
data_clean['cylinders']=data_clean['cylinders'].fillna(data_clean.groupby('model')['cylinders'].transform('median'))
data_clean['cylinders'].isna().sum()

0

### 3.3. Column 'odometer' <a id='odometer'></a>

Calculating median and mean values of the column 'odometer' to decide how to replace its missing values.

In [44]:
data_clean['odometer'].sort_values()
odometer_median = data_clean['odometer'].median()
print(f'The median is: {odometer_median}')

odometer_median = data_clean['odometer'].mean()
print(f'The mean is: {odometer_median}')

The median is: 113000.0
The mean is: 115553.4617376756

The median and mean values vary. It can indicate the presence of outliers.\
In this case it is safer to use median for replacing the missing values.

In [45]:
data_clean['odometer']=data_clean['odometer'].fillna(data_clean.groupby('model_year')['odometer'].transform('median'))
data_clean['odometer'].isna().sum()

1

In [46]:
data_clean[data_clean['odometer'].isna()]

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
45694,18000,1929.0,ford f-150,good,8.0,gas,NaN,manual,other,silver,NaN,2018-11-18,59

### 3.4. Column 'paint_color' <a id='paint_color'></a>

The paint color is a categorical variable, which values cannot be calculated or estimated from the given data.
* Missing values in this column are kept.
* The rows with the missing values from this column are not removed because they can be important for the other columns in the analysis.

### 3.5. Column 'is_4wd' <a id='4wd'></a>

The column 'is_4wd' can take only two values: 0 ( False) and 1 ( True).

The number of values filled with 1:

In [48]:
data_clean['is_4wd'].notna().sum()

25572

The number of missing values:

In [49]:
data_clean['is_4wd'].isna().sum()

25953

The number of missing values is very close to the number of filled values.\
__Assumption:__ missing values are zeros, which for some reason were not filled out.\
The missing values in this column will be replaced with 0.

In [50]:
data_clean['is_4wd']=data_clean['is_4wd'].fillna(0)
data_clean['is_4wd'].isna().sum()

0

#### __Conclusions:__
* The missing values in the columns 'model_year', 'cylinders' and 'odometer' have been replaced with the median value.
* The missing values in the column 'paint_color' could not be replaced, and were kept to preserve information for analysis.
* The missing values in the column 'is_4wd' were replaced with 0.

## 4. Outliers <a id='outliers'></a>

In [18]:
data_clean.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
price,51525.0,NaN,NaN,NaN,12132.46492,10040.803015,1.0,5000.0,9000.0,16839.0,375000.0
model_year,51525.0,NaN,NaN,NaN,2009.796672,6.099245,1908.0,2007.0,2011.0,2014.0,2019.0
model,51525,95,ford f-150,3326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
condition,51525,6,excellent,24773,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cylinders,51525.0,NaN,NaN,NaN,6.121067,1.657457,3.0,4.0,6.0,8.0,12.0
fuel,51525,5,gas,47288,NaN,NaN,NaN,NaN,NaN,NaN,NaN
odometer,51524.0,NaN,NaN,NaN,115204.967656,62084.290072,0.0,73500.0,114054.0,152773.0,990000.0
transmission,51525,3,automatic,46902,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,51525,13,SUV,12405,NaN,NaN,NaN,NaN,NaN,NaN,NaN
paint_color,42258,12,white,10029,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_4wd,25572.0,NaN,NaN,NaN,1.0,0.0,1.0,1.0,1.0,1.0,1.0
date_posted,51525,354,2019-03-17,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
days_listed,51525.0,NaN,NaN,NaN,39.55476,28.20427,0.0,19.0,33.0,53.0,271.0

In [19]:
new_selection=data_clean.groupby('model_year')['model_year'].count()
new_selection.head(20)

model_year
1908.0     2
1929.0     1
1936.0     1
1948.0     1
1949.0     1
1954.0     1
1955.0     1
1958.0     2
1960.0     3
1961.0     1
1962.0     3
1963.0     3
1964.0     7
1965.0    10
1966.0    23
1967.0     7
1968.0    16
1969.0    10
1970.0    10
1971.0     7
Name: model_year, dtype: int64

In [20]:
model_year_outliers= new_selection[new_selection<4]
model_year_outliers

model_year
1908.0    2
1929.0    1
1936.0    1
1948.0    1
1949.0    1
1954.0    1
1955.0    1
1958.0    2
1960.0    3
1961.0    1
1962.0    3
1963.0    3
1976.0    3
Name: model_year, dtype: int64